<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
</style>
</head>
<body>

<h2><%="총회원수는 "+members.length%></h2>

<table>
  <tr>
    <th>PK</th>
    <th>아이디</th>
    <th>비밀번호</th>
    <th>회원명</th>
    <th>회원 가입일</th>
  </tr>
  <!-- 서버는 파일의 확장자가 ejs인 경우, html처럼 단수닣 읽은 후 전송만 하는게 아니다.
  즉, 확장자가 ejs인 경우엔, 퍼센트로 감싼 영역에 대해서는, 해석 및 실행하지 해버린다.
  따라서 %영역은 서버측의 스크립트 언어로 볼 수있다. 참고로 우리가 지금까지 사용해왔던
  script 태그안의 자바스크립트듣 
  -->
  <%for(var i=0;i<members.length;i++){%>
  <%var obj=members[i]; //배열에서 i번째 요소를 끄집어내서 회원 1명을 반환하자%>
  <tr>
    <td><%=obj.member_id%></td>
    <td><%=obj.user_id%></td>
    <td><%=obj.user_pass%></td>
    <td><%=obj.user_name%></td>
    <td><%=obj.regdate%></td>
  </tr>
  <%}%>
</table>

</body>
</html>
